
body {
  font-family: Josefin Sans;
  
}

.modalmargin {
  margin-top: 30px;
}


/* PAGINA: INDEX */


/* menu */
.menumera {
  font-size: 18px;
}


/* fin menu */

/* valores */

@keyframes loop {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
  
}
#bienv {
  display: flex;
  margin: 20px;
  height: 80px;
  background-size: 850px;
  background-repeat: no-repeat;
  background-position: center;
  animation-duration: 3s;
  animation-name: loop;
  animation-iteration-count: infinite;
 
}


@media screen and (max-width: 375px){
  #bienv {
    background-size: 300px;
  }
}

/* fin valores */


/* ISO */

.iso {
  padding-top: 60px;
}
 .iso2 {
   margin-top: 30px;
 }
/* FIN ISO */

/* google map */
.map-container-6{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    }
    .map-container-6 iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }
/* google map */

/* contacto */

.contact {
  padding: 60px; 
  padding-top: 120px;
  border-top: black;
  border-style: solid;
  border-width: 1px;
  border-left: white;
  border-right: white;
  border-bottom: white;

}

/* FIN contacto */


/* FOOTER */

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: justify;
  height: 90px;
  padding-top: 30px;
  margin-top: 30px;
  background-color: #0096E0;
  color: white;
  align-content: space-between;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 15px;
  
}
@media screen and (max-width: 375px){
  .footer {
    font-size: 10px;
    height: 90%;
    margin-top: 20px;
    padding-top: 20px;
    
  }
}


#divisor {
  width: 30px;
  height: 25px;
  text-align: center;

}
/* FIN FOOTER */

/* FIN PAGINA: INDEX */


/* PAGINA: SERVICIOS */

.item:hover {
  transform: translate(10px,10px);
}
.tarjetas {
  padding: 3%;
}

.fotoservicios {
height: 55%;
width: 65%;
border-radius: 5%;
}

/* FIN PAGINA: SERVICIOS */

/* infraytecno */

.margininfra {
  margin-top: 2%;
}


/* fin infraytecno */


/* PAGINA: TRABAJA CON NOSOTROS */

.paddingcv {
  padding: 10%;
}
@media screen and (max-width: 375px){

  .cvrespo {
    
    height: 60%;
  }
}

.beneficiosmargin {
  margin-top: 60px;
}

.stylebenef {
  text-align: center;
}







/* FIN PAGINA: TRABAJA CON NOSOTROS */


/* PAGINA: RECURSOS HUMANOS */


.rrhh1 {
  padding: 40px;
  padding-bottom: 200px;
  border-bottom: grey;
  border-left: white;
  border-top: white;
  border-right: white;
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  
}
.rrhh2 {
  background-image: url(../img/talento.jpg); 
  height: 250%;
  background-size:100%; 
  background-position: center; 
  background-repeat: no-repeat; 
  border-radius: 10px; 
  border-color: black; 
  border-style: solid; 
  border-width: 2px;
  
}
@media screen and (max-width: 375px){
  .rrhh2 {
    height: 120%;
  }
  .rrhh1 {
    padding-bottom: 50px;
}
} 

@media screen and (max-width: 243px){
  .rrhh2 {
    height: 70%;
  }
  .rrhh1 {
    padding-bottom: 50px;
}
}
 

/* FIN PAGINA: RECURSOS HUMANOS */



/* PAGINA: ACERCA DE */


.acercade {
  background-color: white; 
  border-radius: 10px; 
  border-style: solid; 
  border-width: 8px; 
  border-style: groove; 
  border-color: #8038D6;
}

.marginacerca {
  margin-top: 5%;
}
/* INICIO Procedimiento de evaluacion y puesta en marcha de un proyecto */
.timeline {
  position: relative;
  list-style: none;
  padding: 1rem 0;
  margin: 0;
}

.timeline::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 2px;
  margin-left: -1px;
  background-color: #50a1ff;
}

.timeline-element {
  position: relative;
  width: 50%;
  padding: 1rem 0;
  padding-right: 2.5rem;
  text-align: right;
}

.timeline-element::before {
  content: '';
  position: absolute;
  right: -8px;
  top: 1.35rem;
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #50a1ff;
  background-color: #fff;
}

.timeline-element:nth-child(even)::before {
  right: auto;
  left: -8px;
}

.timeline-element:nth-child(even) {
  margin-left: 50%;
  padding-left: 2.5rem;
  padding-right: 0;
  text-align: left;
}

@media (max-width: 767.98px) {
  .timeline::before {
    left: 8px;
  }
  .timeline-element {
    width: 100%;
    text-align: left;
    padding-left: 2.5rem;
    padding-right: 0;
  }
  .timeline-element::before {
    top: 1.25rem;
    left: 1px;
  }
  .timeline-element:nth-child(even) {
    margin-left: 0rem;
  }
  .timeline-element {
    width: 100%;
    text-align: left;
    padding-left: 2.5rem;
    padding-right: 0;
  }
  .timeline-element:nth-child(even)::before {
    left: 1px;
  }
  .timeline-element::before {
    top: 1.25rem;
  }
}


/* FIN Procedimiento de evaluacion y puesta en marcha de un proyecto */
/* FIN  PAGINA: ACERCA DE */

/* PAGINA: FORMULARIOCV */

.formulariocv {
  width: 60%;
  justify-content: center;
}
/*  FIN FORMULARIOCV */


/* PAGINA: POLITICA DE CALIDAD */

.politicadecalidad {
  background-color: white; 
  border-radius: 10px; 
  border-style: solid; 
  border-width: 8px; 
  border-style: groove; 
  border-color: #00d4ff;
}
/* FIN POLITICA DE CALIDAD */

